name: Main CI

on: [push]

permissions: {}

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        node-version: [24.x]
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - name: Run eslint
        run: npm run lint
  check:
    runs-on: ubuntu-latest
    needs: [lint]
    timeout-minutes: 10
    strategy:
      matrix:
        node-version: [24.x]
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - name: Check credentials with Node.js ${{ matrix.node-version }}
        run: npm run check
  test-node:
    runs-on: ubuntu-latest
    needs: [lint]
    timeout-minutes: 10
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - name: Run test with Node.js ${{ matrix.node-version }}
        run: npm run test-node
